
 <h1 class="text-center my-4">Login</h1>

<div class="container">
  <div class="card p-4 shadow mx-auto" style="max-width: 450px;">
     <%= button_to "/auth/google_oauth2",
    method: :post,
    class: "btn btn-danger w-100 mb-3 mt-3",
    data: { turbo: false } do %>
  <i class="bi bi-google"></i> Login with Google
<% end %>

<div class="d-flex align-items-center my-3">
      <hr class="flex-grow-1">
      <span class="px-2 text-muted">OR</span>
      <hr class="flex-grow-1">
    </div>

    <%= form_with url: login_path, local: true, data: { turbo: false } do |form| %>

      <!-- Email -->
      <div class="mb-3">
        <%= form.label :email, class: "form-label" %>
        <%= form.email_field :email,
              value: @entered_email,
              class: "form-control",
              required: true %>

        <% if @email_error.present? %>
          <span class="text-danger small"><%= @email_error %></span>
        <% end %>
      </div>

      <!-- Password -->
      <div class="mb-3">
        <%= form.label :password, class: "form-label" %>
        <%= form.password_field :password, class: "form-control", required: true %>

        <% if @password_error.present? %>
          <span class="text-danger small"><%= @password_error %></span>
        <% end %>
      </div>

      <div class="d-grid">
        <%= form.submit "Login", class: "btn btn-primary" %>
      </div>

    <% end %>

    <p class="mt-3 text-center">
      New user? <%= link_to "Create Account", signup_path, class: "link-primary" %>
    </p>

  </div>
</div> 
