<h1 class="text-center my-4">Sign Up</h1>

<div class="container">
  <div class="card p-4 shadow mx-auto" style="max-width: 500px;">
  <%= button_to "/auth/google_oauth2",
    method: :post,
    class: "btn btn-danger w-100",
    data: { turbo: false } do %>
  <i class="bi bi-google"></i> Sign Up with Google
<% end %>
    <%= form_with model: @user, url: signup_path, method: :post, local: true, data: { turbo: false } do |form| %>

      <!-- Email -->
      <div class="mb-3">
        <%= form.label :email, class: "form-label" %>
        <%= form.email_field :email, class: "form-control", required: true %>

        <% if @user.errors[:email].any? %>
          <span class="text-danger small">
            <%= @user.errors[:email].first %>
          </span>
        <% end %>
      </div>

      <!-- Password -->
      <div class="mb-3">
        <%= form.label :password, class: "form-label" %>
        <%= form.password_field :password, class: "form-control", required: true %>

        <% if @user.errors[:password].any? %>
          <span class="text-danger small">
            <%= @user.errors[:password].first %>
          </span>
        <% end %>
      </div>

      <!-- Password Confirmation -->
      <div class="mb-3">
        <%= form.label :password_confirmation, class: "form-label" %>
        <%= form.password_field :password_confirmation, class: "form-control" %>

        <% if @user.errors[:password_confirmation].any? %>
          <span class="text-danger small">
            <%= @user.errors[:password_confirmation].first %>
          </span>
        <% end %>
      </div>
      <%
=begin%>
 <%= button_to "/auth/google_oauth2",
    method: :post,
    class: "btn btn-danger w-100",
    data: { turbo: false } do %>
  <i class="bi bi-google"></i> Sign Up with Google
<% end %> 
<%
=end%>

      <div class="d-grid">
        <%= form.submit "Create Account", class: "btn btn-primary btn-block" %>
      </div>

    <% end %>
  </div>
</div>
