<div class="container mt-5">

  <div class="text-center mb-4">
    <h1 class="fw-bold">Deposit Money</h1>
  </div>

  <% if flash[:alert] %>
    <div class="alert alert-danger text-center">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <div class="card shadow p-4 mx-auto" style="max-width: 500px;">
    
    <%= form_with url: deposit_path, local: true do |f| %>

      <div class="mb-3">
        <%= f.label :amount, "Enter Amount to Deposit", class: "form-label fw-semibold" %>
        <%= f.number_field :amount, min: 1, required: true, class: "form-control form-control-lg" %>
      </div>

      <div class="d-grid">
        <%= f.submit "Deposit", class: "btn btn-success btn-lg" %>
      </div>

    <% end %>

    
  </div>

</div>
