<div class="container mt-5">

  <div class="text-center mb-4">
    <h2 class="fw-bold">Fund Transfer</h2>
  </div>

  <% if flash[:alert] %>
    <div class="alert alert-danger text-center">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <div class="card shadow p-4 mx-auto" style="max-width: 500px;">

    <%= form_with url: transfer_path, local: true do |f| %>

      <div class="mb-3">
        <label class="form-label fw-semibold">Recipient Email:</label>
        <%= text_field_tag :email, nil, required: true, class: "form-control form-control-lg" %>
      </div>

      <div class="mb-3">
        <label class="form-label fw-semibold">Amount:</label>
        <%= number_field_tag :amount, nil, required: true, min: 1, class: "form-control form-control-lg" %>
      </div>

      <div class="d-grid">
        <%= submit_tag "Transfer", class: "btn btn-success btn-lg text-white" %>
      </div>

    <% end %>

    

  </div>
</div>
