<h1>Withdraw Money</h1>

<% if flash[:alert] %>
  <p style="color:red;"><%= flash[:alert] %></p>
<% end %>

<p>Your current balance: <strong>₹<%= @balance %></strong></p>
<%= form_with url: withdraw_path, method: :post, local: true do |form| %>
  <div>
    <%= form.label :amount, "Enter Amount to Withdraw" %><br>
    <%= form.number_field :amount, min: 1, required: true %>
  </div>

  <br>
  <%= form.submit "Withdraw" %>
<% end %>

<br>
<%= link_to "Back", welcome_path %>
